<header class="header bg-primary pt-5 pb-3">
    <h1 class="text-center">Mon site</h1>
    <?php
    echo "<h2 class='text-center'>".$textHeader."</h2>";
    ?>
    <nav>
        <ul class="d-flex gap-3 justify-content-center list-unstyled">
        <?php
        echo "<li class=''>";
        echo "<a class='text-dark' href='" . $endpoint . "?controller=Home'>Accueil</a>";
        echo "<li class=''>";
        echo "<a class='text-dark' href='" . $endpoint . "?controller=Index'>Index</a>";
        echo "<li class=''>";
        echo "<a class='text-dark' href='" .  $endpoint . "?controller=Liste'>Liste</a>";
        echo "</li>";
        ?>
        </ul>
    </nav>
</header>